- if designer_signed_in?
  %p#intro
    Hello
    = current_designer.name
    %br/
    %span
      Make your fashion concepts famous
- else
  %p#intro
    Browse through our concept bank and vote for what you want to see on the high street!

#designs
  - @designs.each do |design|
    .design
      .design_image
        - if design.design_image?
          = image_tag design.design_image.thumb.url
      .design_content
        .title
          %h2= link_to design.title, design
        .data.clearfix
          %p.designername
            Submitted by
          = design.designer.name