- if designer_signed_in?
  %p#intro
    Hello
    = current_designer.name
    %br/
    %span
      Make your fashion concepts famous
- else
  %p#intro
    Browse through our concept bank and vote for what you want to see on the high street!

#designs
  - @designs.each do |design|
    .design
      - design.design_images.each do |design_image|
        .design_image
          - if design_image.image?
            = image_tag design_image.image.url(:small)
      .design_content
        .title
          %h2= link_to design.title, design
        .data.clearfix
          %p.designername
            Submitted by
          = design.designer.name